.ac {
    text-align: center !important;
}

.question {
    .question-content {
        font-size:50px;
    }

    .options {
        font-size: 20px;
    }
    .question-button {
        padding-top: 20px;
    }
}
